* {
    padding: 0;
    margin: 0;
}

/* ################## Preloader ################### */
.preloader-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.preloader{
	width: 400px;
    height: 400px;
    background-color: #000;
    transform: translateX(-30px);
	filter: blur(10px) contrast(20);
}
.circle-1,.circle-2{
	width: 60px;
	height: 60px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:40%;left:30%;
	/* transform:translate(-50%,-50%); */
}
.circle-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.circle-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background: yellow;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}