* {
    padding: 0;
    margin: 0;
}

/* ################## Preloader ################### */
.preloader-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.preloader{
    display: flex;
    align-items: center;
    justify-content: center;
	width: 300px;
    height: 300px;
    background-color: #000;
    filter: blur(10px) contrast(20);
}
.circle-1,.circle-2{
	width: 40px;
	height: 40px;
	position:absolute;
	background:#fff;
	border-radius:50%;
}
.circle-1{
	animation:circle-left 2s ease infinite;
}
.circle-2{
	animation:circle-right 2s ease infinite;
	background: yellow;
}
@keyframes circle-left{
	0%{left:28%;}
	50%{left:43%;}
	100%{left:28%;}
}
@keyframes circle-right{
	0%{left:58%;}
	50%{left:43%;}
	100%{left:58%;}
}