/* ################## GOOGLE FONT LINK ################### */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* ################## CSS VARIABEL ################### */
:root{
    --header-height: 3rem;
    --nav-width: 324px;

    /* color */
    --primary-color: #000;
    --secondary-color: #30475e;
    --primary-color-light: #f05454;
    --text-color:#e8e8e8;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* font and typografi */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* margin */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z-index */
    --z-fixed : 100;

}
/* mobile */
@media screen and (min-width: 768px) {
    :root {
        /* font and typografi */
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/* ################## BASE ################### */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
}
h3{
    font-weight: var(--font-semi-bold);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ################## Preloader ################### */
.preloader-container{
    position: fixed;
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.preloader{
    display: flex;
    align-items: center;
    justify-content: center;
	width: 300px;
    height: 300px;
    background-color: #000;
    filter: blur(10px) contrast(20);
}
.circle-1,.circle-2{
	width: 40px;
	height: 40px;
	position:absolute;
	background:#fff;
	border-radius:50%;
}
.circle-1{
	animation:circle-left 2s ease infinite;
}
.circle-2{
	animation:circle-right 2s ease infinite;
	background: yellow;
}
@keyframes circle-left{
	0%{left:28%;}
	50%{left:43%;}
	100%{left:28%;}
}
@keyframes circle-right{
	0%{left:58%;}
	50%{left:43%;}
	100%{left:58%;}
}